
$background:#eef2f3;
$navbarbackground:rgb(17, 19, 25);;
$navbarliincolor:white;
$navbarlihovercolor:rgb(189, 6, 6);
$withe: rgb(255, 255, 255);
$btnback: rgb(116, 104, 104);
$backwidth:rgb(160, 154, 154);
$red : red;
$aqua: aqua;
$deepaqua:rgb(6, 214, 214);
$reds:rgb(255, 0, 0);
$deepred:rgb(194, 2, 2);
$biaozhunbai: rgb(194, 199, 202);